# you must put the ignore files patterns here

*.[ao]
*~
cscope*
configure
Makefile.in
config.log
config.h
Makefile
.so6
config.status
stamp-h1
config.h.in
autom4te.cache
aclocal.m4
m4/Makefile.in
m4/Makefile
pixmaps/Makefile.in
pixmaps/Makefile
db/script_autogenerado_fk.sql
db/pgloader.conf
db/remigrar.sh
db/Makefile.in
db/script_autogenerado.sql
db/migracion.sh.mio
db/funciones_listas.sql
db/Makefile
src/Makefile.in
src/fakebuy
src/.deps
src/Makefile
src/rizoma-config
*.out
src/rizoma-ventas
src/rizoma-admin
src/rizoma-compras
doc/*
