Source: rizoma
Section: unknown
Priority: optional
Maintainer: Jonathan Gonzalez V.<jonathan@rizoma.cl>
Build-Depends: debhelper (>= 4.0.0), automake (>= 1.5), autoconf (>= 2.50), libgtk2.0-dev, postgresql-dev, pslib-dev, libgnomeprint2.2-dev, libgnomeprintui2.2-dev
Standards-Version: 0.0.2

Package: rizoma
Architecture: any
Depends: libatk1.0-0, libc6, libglib2.0-0, libgtk2.0-0, libpango1.0-0, postgresql (>= 8.1) | postgresql-8.1 | postgresql-8.2, pslib1, libgnomeprint2.2-0, libgnomeprintui2.2-0
Description: Rizoma it's a programn to manage a little business