Source: rizoma
Section: unknown
Priority: extra
Maintainer: Jonathan Gonzalez V. <jonathan@rizoma.cl>
Build-Depends: debhelper (>= 7), autotools-dev, libgtk2.0-dev, libpq-dev, pslib-dev
Standards-Version: 3.7.3
Homepage: http://www.rizoma.cl

Package: rizoma
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql
Description: POS Rizoma Comercio it's a tiny Point-of-Sell
 POS Rizoma Comercio aims to be a cheap and useful solution for small markets.